.notes-search {
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.input {
    background-color: transparent;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;

    color: rgba(142, 140, 140, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 145%;
    text-align: left;
}
.cross {
    width: 24px;
    height: 21.41px;
    cursor: pointer;
}