.app-chip {
    height: 32px;
    min-width: 37px;
    padding-inline: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(61, 61, 61, 1);
    cursor: pointer;
}
