:global(.tiptap) {
    outline: none;
    color: white;
}
:global(.is-editor-empty::before) {
    content: attr(data-placeholder);
    color: rgba(142, 140, 140, 1);
    pointer-events: none;
    height: 0;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    color: rgba(142, 140, 140, 1);
    font-weight: 500;
}
.input {
    border: none;
    background-color: transparent;
    outline: none;
    color: white;
}
.title {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 500;
    line-height: 145%;
}
.title::placeholder {
    color: rgba(142, 140, 140, 1);
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 40px;
}
.footer__edit {
    display: flex;
    gap: 12px;
}
.icon {
    font-family: "Roboto Mono";
    
}
.img {
    max-height: 100%;
    height: 20px;
    color: white;
}

@media (width < 700px) {
    .footer {
        margin-top: 20px;
    }
}