.content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    color: rgba(142, 140, 140, 1);
    font-weight: 500;
}
.input {
    border: none;
    background-color: transparent;
    outline: none;
    color: white;
}
.title {
    font-size: 24px;
    line-height: 145%;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 40px;
}
.footer__edit {
    display: flex;
    gap: 12px;
}
.button {
    height: 40px;
}